* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

    
    @font-face {
    font-family: 'allura';
    src: url(../lib/Allura-Regular.ttf);
    }
    @font-face {
        font-family: 'poppins_black';
        src: url(../lib/Poppins-Black.ttf);
    }
    @font-face {
        font-family: 'poppins_bold';
        src: url(../lib/Poppins-Bold.ttf);
    }
    @font-face {
        font-family: 'poppins_extra';
        src: url(../lib/Poppins-ExtraBold.ttf);
    }
    @font-face {
        font-family: 'poppins_medium';
        src: url(../lib/Poppins-Medium.ttf);
    }
    @font-face {
        font-family: 'poppins_regular';
        src: url(../lib/Poppins-Regular.ttf);
    }

            /* Header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

nav h2 a{
    font-family: 'allura';
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

nav h2 a:hover {
    color: rgb(144, 112, 8);
}

.liste1 {
    display: flex;
    font-family: 'poppins_regular', sans-serif;
}

.liste1 li {
    list-style: none;
    margin-left: 3rem;
    font-weight: bold;
    color: white;
}

.liste1 li a {
    color: white;
}

.liste1 li a:hover {
    color: rgb(144, 112, 8);
}

header {
    background-image: url(../img/bg-slider-06.jpg);
    background-position: center;
    height: 37rem;
    padding-top: 2rem;
}

.titre1 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(144, 112, 8);
    margin-top: 4rem;
    font-family: 'allura';
    font-size: 3rem;
    font-weight: 500;
}

h1 {
    color: white;
    font-family: 'poppins_medium';
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
    font-size: 3rem;
}

.titre1 img {
    height: 2rem;
    margin-bottom: 1rem;
}

.titre1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titre1 p {

    color: white;
    font-family: 'poppins_regular';
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

            /* Première partie */

.deuxieme_partie {
    display: flex;
}

.chef {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 500px;
    border: dotted rgb(179, 178, 178) 2px;
    margin: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    

}

.chef h2 {
    color: rgb(144, 112, 8);
    font-family: 'allura';
    font-size: 3rem;
    font-weight: 500;
}

.chef h3 {
    text-transform: uppercase;
    font-family: 'poppins_medium';
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 1rem;
}

.chef p {
    width: 20rem;
    margin-top: 2rem;
    font-family: 'poppins_regular';
}

.chef_homme {
    height: 80px;
    margin-top: 1rem;
}

.cook {
    display: block;
    font-family: 'poppins_regular';
}

.photo img {
    width: 100%;
    height: 36rem;
    object-fit: cover;
}

            /* Intersection plats */

.intersec_plats {
    display: flex;
    background-color: rgb(19, 18, 18);
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.intersec_plats h2 {
    color: rgb(144, 112, 8);
    font-family: 'allura';
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.fourchette {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.intersec_plats ul {
    margin-right: 3rem;
    font-weight: 500;
    font-size: large;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: underline 1px;
    margin-bottom: 4rem;
}

.intersec_plats ul li {
    display: flex;
    margin-left: 3rem;
}

.intersec_plats ul li a {
    color: white;
}

.intersec_plats ul li a:hover {
    color: rgb(144, 112, 8);
    text-decoration: underline rgb(144, 112, 8) 1px;
}

            /* Plats */

.plat img {
    border-radius: 50px;
}

.plat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 470px;
    background-color: white;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;

}

.desc_plat {
    margin-left: 2rem;
}

.desc_plat h4 {
    font-weight: 500;
    font-family: 'poppins_regular';
    width: 15rem;
}

.desc_plat p {
    font-family: 'poppins_regular';
    font-size: small;
}

.prix {
    margin-left: 5rem;
    margin-right: 2rem;
    color: rgb(144, 112, 8);
    font-size: 20px;
}

.desc_plat_prix .prix {
    display: flex;
}

.all_plats {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
    position: absolute;
    align-items: center;
    z-index: 2;
    padding-bottom: 5rem;
    margin-top: -5rem;

}

.background {
    background-image: url(../img/bg-menu-01.jpg);
    height: 90vh;
    width: 100%;
}

.tout {
    display: flex;
    justify-content: center;
    background-color: rgb(19, 18, 18);
    position: relative;
}

.plats {
    border-top: solid rgb(144, 112, 8) 3px;
}

            /* Réservation */

.reservation {
    background-color: rgb(19, 18, 18);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation p {
    margin-bottom: 5px;
}

.time {
    height: 470px;
    width: 280px;
    background-color: rgb(7, 6, 6);
    margin-top: 3rem;
    color: white;
    font-family: 'poppins_regular';
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.dashed {
    border: dashed grey 1px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dashed img {
    height: 30px;
    width: 30px;
    margin-left: 5rem;
}

.sous_titre {
    color: rgb(144, 112, 8);
    font-family: 'Times New Roman', Times, serif;
}

h2 {
   color: rgb(144, 112, 8);
   font-family: 'allura';
   font-size: 40px;
   text-align: center;
   font-weight: 500;
}

.booking h2 {
    margin-top: 2rem;
}

.chef h2 {
    margin-top: 2rem;
}

.open {
    display: block;
    font-family: 'poppins_regular';
    color: white;
    font-size: 30px;
}

.fourchette2 {
    height: 2rem;
    margin-bottom: 1rem;

}
.booking {
    background: white;
    height: 470px;
    width: 600px;
    margin-top: 3rem;
}

.time p:nth-child(5) {
    margin-bottom: 2rem;
}

.time h2:last-child {
    font-size: 25px;
    margin-top: 1rem;
}

.ligne {
    height: 1px;
    width: 12rem;
    background-color: rgb(144, 112, 8);
    margin-top: 1rem;
}

.formulaire {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
.formulaire input {
    width: 30%;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-bottom:1px solid grey;
    font-size: 16px;
    margin-right: 1rem;
    margin-left: 1rem;
    font-family: 'poppins_regular';
}

.booking {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.booking button {
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50px;
    margin-top: 2rem;
    background-color: black;
    color: white;
    font-family: 'poppins_regular';
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.booking button:hover {
    background-color: white;
    color: black;
}

.online {
    font-family: 'poppins_regular';
    color: black;
    display: block;
    font-size: 30px;
}

            /*Intersection Gallery */

.inter2 h3 {
    font-weight: 900;
    font-size: 25px;
    font-family: 'poppins_regular';
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.inter2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(19, 18, 18);
    padding-bottom: 3rem;
}

.inter2 h2 {
    margin-top: 2rem;
}

.inter2 img {
    margin-top: 2rem;
}

            /* Gallery */

.gallery {
    background-color: rgb(19, 18, 18);
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid img {
    width: 100%;
    height: 100%;
}

            /* Intersec Gallery */

.intersec_gallery {
    background-color: rgb(19, 18, 18);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intersec_gallery a {
    border: solid white 1px;
    color: white;
    padding: 10px;
    border-radius: 50px;
    padding-left:20px;
    padding-right: 20px;
    font-family: 'poppins_regular';
    font-size: medium;
    letter-spacing: 2px;
}

.intersec_gallery h3 {
    font-weight: 900;
    font-size: 25px;
    font-family: 'poppins_regular';
    color: white;
}

.intersec_gallery h2 {
    font-weight: 500;
    margin-top: 6rem;
}

.intersec_gallery img {
    margin-top: 2rem;
}

.intersec_gallery a:hover {
    color: rgb(144, 112, 8);
    border: solid rgb(144, 112, 8) 1px;
}

            /* Event */

.event {
    display: flex;
    background-color: rgb(19, 18, 18);
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: center;
}

.party {
    display: flex;
    flex-direction: row;
    background-color: white;
}


.img_party {
    background-image: url(../img/event-01.jpg);
    width: 13rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding-left: 1rem;
    padding-right: 1rem;
}

.img_party p {
    background-color: rgb(19, 18, 18);
    color: white;
    padding: 20px;
    margin: 4rem;
    display: inline-block;
    text-align: center;
}

.party div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_party {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_party h4 {
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 500;
}

.text_party p{
    margin-bottom: 2rem;
    font-family: 'poppins_regular';
    margin-right: 1rem;
    color: grey;
}

.text_party a {
    font-family: 'poppins_regular';
    color: black;
    font-weight: 800;
    letter-spacing: 2px;
}

.dj {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 2rem;
}

.img_dj {
    background-image: url(../img/event-02.jpg);
    width: 13rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding-left: 1rem;
    padding-right: 1rem;
}

.img_dj p {
    background-color: rgb(19, 18, 18);
    color: white;
    padding: 20px;
    margin: 4rem;
    display: inline-block;
    text-align: center;
}

.dj div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_dj {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_dj h4 {
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 500;
}

.text_dj p{
    margin-bottom: 2rem;
    font-family: 'poppins_regular';
    margin-right: 1rem;
    color: grey;
}

.text_dj a {
    font-family: 'poppins_regular';
    color: black;
    font-weight: 800;
    letter-spacing: 2px;
}

.night {
    background-image: url(../img/event-03.jpg);
    background-size: cover;
    margin-left: 2rem;
    display: flex;
}

.carre_night {
    width: 30rem;
    height: 24rem;
    margin: 2rem;
    background-color: white;
    display: flex;
    align-items: center; 
    text-align: center;
    flex-direction: column;
}

.carre_night p:first-child {
    background-color: rgb(19, 18, 18);
    color: white;
    padding: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.july {
    display: block;
}

.text_night h4 {
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 500;
    margin-top: 4rem;
}

.johnnie {
    display: block;
}

.text_night p {
    font-family: 'poppins_regular';
    color: grey;
    margin-bottom: 2rem;
}

.text_night a {
    font-family: 'poppins_regular';
    color: black;
    font-weight: 800;
    letter-spacing: 2px;
}

.text_night a:hover {
    color: rgb(144, 112, 8);
}

.text_dj a:hover {
    color: rgb(144, 112, 8);
}

.text_party a:hover {
    color: rgb(144, 112, 8);
}

            /* Russell Stephens */

.CEO {
    background-color: rgb(19, 18, 18);
    display: flex;
    justify-content: center;
}

.texte_russell {
    display: flex;
    text-align: center;
    width: 50rem;
    background-color: white;
    font-family: 'poppins_regular';
    position: relative;    
}

.nom {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 25px;
}


.ceo {
    font-family: 'poppins_regular';
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: rgb(144, 112, 8);
}

.texte_russell img {
    position: absolute;
    border-radius: 100px;
    width: 6rem;
    bottom: 8rem;
    left: calc(50% - 3rem);
}

.texte_russell p {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.russell_stephens {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.bouton_switch {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.bouton_switch i:nth-child(2) {
    padding-left: 1rem;
    padding-right: 1rem;
}

            /* Localisation */

.localisation iframe{
    width: 100%;
}

            /* Footer */

.footer_gauche {
    width: 50%;
    background-color: rgb(10, 10, 10);
    padding-bottom: 5rem;
    display: flex;
    justify-content: flex-end;
}

.footer_texte {   
    width: 26em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5rem;
    margin-top: 3rem;
}

.footer_texte p {
    color: rgb(80, 80, 80);
    font-family: 'poppins_regular';
    font-size: 15px;
}

.footer_droite {
    width: 50%;
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
}

.inscription h4 {
    color: white;
    font-family: 'poppins_regular';
    font-weight: 500;
    margin-bottom: 1rem;
}

.inscription {
    margin-bottom: 3rem;
    margin-left: 9rem;
}

.inscription input {
    background-color: rgb(27, 26, 26);
    padding: 10px;
    padding-right: 100px;
    border-left: solid rgb(65, 50, 3) 1px;
    border-top: solid rgb(65, 50, 3) 1px;
    border-bottom: solid rgb(65, 50, 3) 1px;
    border-right: none;



}

.inscription button {    
    background-color: rgb(27, 26, 26);
    border-right: solid rgb(65, 50, 3) 1px;
    border-top: solid rgb(65, 50, 3) 1px;
    border-bottom: solid rgb(65, 50, 3) 1px;
    border-left: solid rgb(27, 26, 26) 1px;
    padding: 10px;
    color: rgb(155, 117, 6);
    position: absolute;
}

.email {
    position: relative;
}

.reseaux_footer {
    color: white;
    font-family: 'poppins_regular';
    margin-left: 9rem;
}

.reseaux_footer i{
    margin-left: 2rem;
    color: grey;
}

footer {
    display: flex;
}

.reseaux_footer a i:hover {
    color: rgb(155, 117, 6);

}

.inscription button:hover {
    cursor: pointer;
    color: white;
}



@media screen and (max-width: 1060px) {
    .all_plats {
        flex-direction: column;
    }

    .background {
        background-image: none;
        padding-bottom: 15rem;
        background-color: rgb(19, 18, 18);

    }
    .plats {
        border-top: none;
    }

    .liste1 {
        flex-direction: column;
    }

    .event {
        flex-direction: column;
        background-color: rgb(19, 18, 18);
    }

    .party {
        justify-content: center;        
    }
    
    .dj {
        justify-content: center;
    }

    .night {
        margin-left: 0rem;
        justify-content: center;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 920px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_gauche {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer_texte {
        align-items: center;
        margin-right: 0rem;
    }

    .footer_droite {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 4rem;
    }

    .footer_droite h4 {
        margin-top: 3rem;
    }

    .inscription {
        margin-left: 0rem;
    }

    .reseaux_footer {
        margin-left: 0rem;
    }
}
    
@media screen and (max-width: 800px) {
    .texte_russell {
        width:auto
    }
}

@media screen and (max-width: 640px) {
    .photo img {
        width: 0%;
        height: 0rem;
        object-fit: none;
    }

    .chef {
        width: 100%;
    }

    .reservation {
        flex-direction: column;
        height: auto;
    }

    .time {
        width: 100%;
    }

    .dashed {
        width: 90%;
        align-items: center;
    }

    .ligne {
        width:auto
    }

    .dashed img {
        margin-left: 0rem;

    }

    .formulaire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formulaire input {
        margin-bottom: 1rem;
    }

    .booking {
        height: auto;
        width:100%;
    }
}

@media screen and (max-width: 600px) {
    .titre1 {
        text-align: center;
    }
}


@media screen and (max-width: 591px) {
    .texte_russell img {
        bottom: 10rem
    }
    .all_plats {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
    .all_plats {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .prix {
        margin: 0rem;
    }

    .tout {
        padding-bottom: 35rem;
    }

    .plat {
        flex-direction: column;
        text-align: center;
        padding-right: 2rem;
        padding-left: 0rem;
        width: auto;
    }

    .plat img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


